.homepage {
    display: flex;
    flex-direction: row;

}

.homepage div{
    margin: 1em;
}

.homepage h1{
    font-size: 3em;
}

.homepage button {
    font-size: 0.8em;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: black;
    color: white;
}

