html, body {
  height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh; 
}

.App {
  height: 100vh;
  width: inherit;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: inherit;
}


.display {
  width: 100%;
  height: 100%;
  background-color: #dde4eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.javascript-fun-stuffs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* spotlight animations */
.spotlight{
  background-color: transparent;
}
.spotlight-enter{
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(-200px);
}
.spotlight-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms ease;
}
.spotlight-exit{
  opacity: 1;
}
.spotlight-exit-active{
  opacity: 0;
  transform: scale(0.9);
  transform: translateY(200px); 
  transition: opacity 300ms, transform 300ms;
}


/* TODO: re-style for mobile devices - width < 900px */
@media only screen and (max-width: 900px) {
  .main {
    display: block;
  }
}
