html, body {
  height: 100vh;
  margin: 0;
}

#root {
  min-height: 100vh; 
}

.App {
  height: 100vh;
  width: inherit;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: inherit;
}
.side-bar {
  width: 40vh;
  height: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.circle-crop {
  margin-top: 5vh;
  width: 192px; 
  height: 192px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0;
}

div.description-box {
  margin: 0.5em 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-box span {
  display: block;
  margin: 0;
}
.description-box .name { 
  font-size: 2em;
}
.description-box .short-description {
  font-size: 0.9em;;
}
.direct-contacts {
  margin: 0;
}

.direct-contacts div{
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.direct-contacts span {
  display: block;
  margin: 0 0.5em;
}

.content-links {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.content-links p {
  margin: 0.5em 0;
}

.display {
  width: 100%;
  height: 100%;
  background-color: #dde4eb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.javascript-fun-stuffs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}